<couchinn-header buttons="headerButtons"></couchinn-header>


<!--<table class="table table-striped">
  <tr class="info">
    <td>Nombre</td>
    <td>Tipo</td>
    <td>Capacidad Máxima</td>
    <td>Fecha Inicio</td>
    <td>Fecha Fin</td>
  </tr>
</table>
<table>
  <div layout="column">
    <div flex ng-repeat="publicacion in publicaciones track by $index"  class="publicacion">
      <publicacion
        data="publicacion"
        indice="$index"
        publicaciones="publicaciones"
      >
      </publicacion>
    </div>
  </div>
</table>-->



<!-- exact table from live demo -->
<md-table-container>
  <table md-table md-row-select ng-model="selected">
    <thead md-head>
    <tr md-row>
      <th md-column ><span>Nombre</span></th>
      <th md-column md-numeric md-order-by="calories.value"><span>Tipo</span></th>
      <th md-column md-numeric>Capacidad Máxima</th>
      <th md-column md-numeric>Fecha Inicio</th>
      <th md-column md-numeric>Fecha Fin</th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row

        class="publicacion-fila"
        ng-class="{'premium': data.user.premium}"

        ng-repeat="publicacion in publicaciones track by $index"
        ng-click="detalle($index)"
    >

      <td md-cell
      >{{ publicacion.nombre }}</td>
      <td md-cell>{{ publicacion.tipo.nombre }} </td>
      <td md-cell>{{ publicacion.capacidadMax }}</td>
      <td md-cell>{{ publicacion.fechaInicio | date : shortDate}}</td>
      <td md-cell>{{ publicacion.fechaFin | date : shortDate}} </td>

    </tr>
    </tbody>
  </table>
</md-table-container>





<h1 ng-if="publicaciones.length == 0" >
  Lamentablemente no se encontraron coincidencias, vuelva a intentar con otros parámetros de búsqueda
</h1>
<a href="#/">Volver</a>
