<couchinn-header buttons="headerButtons"></couchinn-header>
<div class="heading">Deatalles de la publicacion</div>
<div class="container">
  <div class wrap style="padding-left:70px;padding-right:70px;">
    <ul style="list-style-type:none">
      <div layout-gt-sm="row">
        <li><b>Nombre : </b> {{ lodgin.nombre }}</li>
        <li><b>Puntuacion publicacion : </b> {{ calcularPromedio(lodgin.puntuacion) }} </li>
      </div>
      <li><b>Descripcion : </b> {{ lodgin.descripcion }}</li>
      <div layout-gt-sm="row">
        <li><b>Capacidad Maxima : </b>{{ lodgin.capacidadMax }}</li>
        <li><b>Tipo de Hospedaje : </b>{{ lodgin.tipo.nombre }}</li>
      </div>
      <b>Direccion</b>
      <div layout-gt-sm="row">
        <li><b>Calle : </b>{{ lodgin.calle }}</li>
        <li><b>Numero : </b> {{ lodgin.numero }}</li>
        <li><b>Piso : </b>{{ lodgin.piso }}</li>
        <li><b>Departamento : </b>{{ lodgin.departamento }}</li>
      </div>
      <div layout-gt-sm="row">
        <li><b>Fecha Inicio : </b>{{ lodgin.fechaInicio | date : shortDate }}</li>
        <li><b>Fecha Fin : </b>{{ lodgin.fechaFin | date : shortDate }}</li>
      </div>
      <div layout-gt-sm="row">
        <li><b>Dueño : </b>{{ lodgin.user.email }}</li>
        <li><b>Puntuacion hospedador : </b>{{ calcularPromedio(lodgin.user.puntuacionHospedador) }}</li>
      </div>
      <div layout-gt-sm="row">
        <li><b>Activa : </b>{{ lodgin.activa }}</li>
      </div>
    </ul>
    <li ng-repeat="pregunta in preguntas">
      <ul style="list-style-type:none">
        <li><b> Pregunta de :  {{ pregunta.owner }} </b></li>
        <li>{{ pregunta.pregunta }}</li>
        <div ng-if="((user.username==lodgin.user.username) && (!pregunta.respuesta))">

          <md-input-container>
            <label>Respuesta</label>
            <input type="text" required md-maxlength="100" ng-model="respuestas[$index]">
          </md-input-container>
          <md-button ng-click=mandarRespuesta(pregunta,$index)> Responder ahora</md-button>
        </div>
        <div ng-if="(pregunta.respuesta)">
          <li><b>Respuesta  </b></li>
          <li>{{ pregunta.respuesta }}</li>
        </div>
      </ul>
    </li>

    <div ng-if="(user.username!=lodgin.user.username && user && today<lodgin.fechaFin)">
      <md-input-container class="md-block" flex-gt-sm>
        <label>Pregunta</label>
        <input ng-model="pregunta.pregunta">
      </md-input-container>
      <md-button ng-click="preguntar($index)"> Preguntar</md-button>
    </div>


    <div ng-repeat="item in lodgin.calificarApplications">
      <div ng-if="(user.username!=lodgin.user.username && user && item.owner.username==user.username)">
        <!-- PUNTUAR PPUBLICACION -->
        <div ng-if="(!item.calificoPublicacion)">
          <p>Califica la publicacion (del 1 al 10)</p>
          <md-input-container>
            <label>Puntuacion Publicacion</label>
            <input type="number" ng-model="lodgin.puntuacionPublicacion" ng-min="1" ng-max="10" ng-required="true" name="puntuacionPublicacion" >
          </md-input-container>
          <md-button ng-click=calificarPublicacion($index) ng-disabled=!lodgin.puntuacionPublicacion> Calificar hospedaje</md-button>
        </div>

        <!--PUNTUAR HOSPEDADOR -->
        <div ng-if="(!item.calificoHospedador)">
          <p>Califica al hospedador (del 1 al 10)</p>
          <md-input-container>
            <label>Puntuacion hospedador</label>
            <input type="number" ng-model="lodgin.puntuacionHospedador" ng-min="1" ng-max="10" ng-required="true" name="puntuacionHospedador" >
          </md-input-container>
          <md-button ng-click=calificarHospedador($index) ng-disabled=!lodgin.puntuacionHospedador> Calificar hospedador</md-button>
        </div>
      </div>
    </div>

    <div ng-show="(user.username==lodgin.user.username && user && !item.calificoHuesped && lodgin.calificarApplications.length > 0)">
      <md-list>
        <md-list-item class="md-2-line application" ng-repeat="item in lodgin.calificarApplications">

          <div class="md-list-item-text">
            <label>Solicitante</label>
            <p>{{ item.owner.nombre }}</p>
            <label>Puntuacion publicacion </label>
            <p>{{ calcularPromedio(item.owner.puntuacionHuesped) }}</p>
          </div>

          <!--PUNTUAR HUESPED -->
          <div ng-if="(!item.calificoHuesped)">
            <p>Califica al huesped (del 1 al 10)</p>
              <md-input-container>
                <label>Puntuacion huesped</label>
                <input type="number" ng-model="lodgin.puntuacionHuesped" ng-min="1" ng-max="10" ng-required="true" name="puntuacionHospedador" >
              </md-input-container>
              <md-button ng-click=calificarHuesped($index) ng-disabled=!lodgin.puntuacionHuesped> Calificar huesped</md-button>
          </div>

        </md-list-item>
      </md-list>
    </div>
  </div>

<div ng-if="notMyCouch && today<lodgin.fechaFin">
  <h1>Solicitar Couch</h1>

  <div>
    <md-content>
      <md-datepicker
        ng-model="application.fechaInicio"
        md-placeholder="fecha inicial"
        md-min-date="lodgin.fechaInicio"
        md-max-date="lodgin.fechaFin">
      </md-datepicker>
    </md-content>

    <md-content>
      <md-datepicker
        ng-model="application.fechaFin"
        md-placeholder="fecha final"
        md-min-date="application.fechaInicio"
        md-max-date="lodgin.fechaFin">
      </md-datepicker>
    </md-content>
  </div>

  <div ng-show="lodgin.fechasReservadas.length > 0">
    <h2>Fechas Ya reservadas</h2>

    <md-list>
      <md-list-item class="md-2-line" ng-repeat="item in lodgin.applications" ng-show="item.status == 'aceptada'">
                <div class="md-list-item-text">
          <p> Ocupado desde {{item.fechaInicio | date : shortDate}} hasta {{item.fechaFin | date : shortDate}}</p>
        </div>
      </md-list-item>
    </md-list>
  </div>


  <md-button ng-click="solicitar(lodgin.nombre)"> Solicitar Ahora</md-button>

</div>

<div ng-if="!notMyCouch && today<lodgin.fechaFin">
  <h1>Solicitudes</h1>
  <div ng-show="lodgin.validApplications.length == 0">
    Este Couch no tiene solicitudes Válidas
  </div>
  <div ng-show="lodgin.validApplications.length > 0">
    <md-list>
      <md-list-item class="md-2-line application" ng-repeat="item in lodgin.validApplications">

        <div class="md-list-item-text">
          <label>Solicitante</label>
          <p>{{ item.owner.nombre }}</p>
          <label>Puntuacion publicacion </label>
          <p>{{ calcularPromedio(item.owner.puntuacionHuesped) }}</p>
          <label>Estado</label>
          <p>{{item.status}}</p>
          <label>fechas solicitadas</label>
          <p> desde {{item.fechaInicio | date : shortDate}} hasta {{item.fechaFin | date : shortDate}}</p>
          <md-button ng-hide="item.status == 'aceptada' || item.status == 'anulada' " ng-click="rechazar(item)">Rechazar</md-button>
          <md-button ng-hide="item.status == 'aceptada' || item.status == 'anulada' " ng-click="aceptar(item)">Aceptar</md-button>
          <p ng-show="item.status == 'aceptada'">
            Solicitud ya Aceptada
          </p>
        </div>

      </md-list-item>
    </md-list>
  </div>
</div>
