<couchinn-header buttons="headerButtons"></couchinn-header>
<div class="heading">Lista de Publicaciones del Usuario</div>
<div class="container">
  <div ng-init="lodgins = obtenerPublicaciones()">

    <div class="col-sm-4 col-sm-offset-1 text-center" ng-prueba>
      <h1> Listado de Publicaciones <span class="label label-success"></span></h1>
    </div>

    <div class="col-sm-6 col-sm-offset-1 text-center">
      <table class="table table-striped">
        <tr class="info">
          <td>Nombre</td>
          <td>Tipo</td>
          <td>Capacidad Máxima</td>
          <td>FechaInicio</td>
          <td>FechaFin</td>
        </tr>
        <tr ng-repeat="lodgin in lodgins" ng-click="">
          <td>  {{ lodgin.nombre }}  </td>
          <td> {{ lodgin.tipo.nombre }} </td>
          <td>  {{ lodgin.capacidadMax }}  </td>
          <td>  {{ lodgin.fechaInicio }}  </td>
          <td>  {{ lodgin.fechaFin }}  </td>
        </tr>
      </table>
    </div>
  </div>
</div>
