<couchinn-header buttons="headerButtons"></couchinn-header>
<div class="container">

  <div ng-init="tiposDeHospedaje = dameTiposDeHospedaje()">

  <div class="col-sm-4 col-sm-offset-1 text-center" ng-prueba>
    <h1> Listado de Tipos de Hospedaje <span class="label label-success"></span></h1>
  </div>

    <div class="col-sm-6 col-sm-offset-1 text-center">

      <table class="table table-striped" border="1">
        <tr class="info">
          <th>Nombre</th>
       </tr>
        <tr ng-repeat="tipoHos in tiposDeHospedaje" ng-click="">
          <td>  {{ tipoHos.nombre }}  </td>
        </tr>
      </table>
    </div>
  </div>
</div>
