<couchinn-header buttons="headerButtons"></couchinn-header>
<div class="heading">Lista de Tipos de Hospedajes</div>
<div class="container">

  <div ng-init="tiposDeHospedaje = dameTiposDeHospedaje()">
    <div class="col-sm-6 col-sm-offset-1 text-center">
      <table class="table table-striped">
        <tr class="info">
          <td>Nombre</td>
        </tr>
        <tr ng-repeat="tipoHos in tiposDeHospedaje" ng-click="">
          <td>  {{ tipoHos.nombre }}  </td>
          <td><md-button ng-click="modificar($index)"> Modificar </md-button></td>
          <td><md-button ng-click="eliminar($index)"> Eliminar </md-button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
