<form name="userForm">
  <div ng-show="error1">Error!! El tipo de Hospedaje ya Existe</div>
  <div layout-gt-sm="row">
    <md-input-container class="md-block" flex-gt-sm>
      <label>Nombre</label>
      <input ng-model="tipoHospedaje.nombre" requerid>
    </md-input-container>
    <md-input-container class="md-block" flex-gt-sm>
      <label>Capacidad Máxima</label>
      <input type="number" ng-model="tipoHospedaje.capacidadMax" ng-min="1" ng-max="100">
    </md-input-container>
  </div>

  <label>Tipo que se esta ingresando</label>
  <label>{{tipoHospedaje.nombre}}</label><label>{{tipoHospedaje.capacidadMax}}</label>


  <button type="submit" class="btn btn-success btn-lg" ng-click="guardarTipoHosp()" ng-disabled="!tipoHospedaje.nombre  || !tipoHospedaje.capacidadMax || !tipoHospedaje.capacidadMax > 0">Guardar Tipo de Hospedaje</button>

  <button type="submit" class="btn btn-success btn-lg" ng-click="buscarTipoHospedajeParaTodos()" >Buscar Tipo de Hospedaje</button>


  <label>{{tipoHospedajeEncontrado.nombre}}</label> <label>{{tipoHospedajeEncontrado.capacidadMax}}</label>

  <div layout="row" layout-align="space-around">
    <div style="width:50px"></div>
    <md-button ng-click="showSimpleToast()">
      Guardar Tipo de Hospedaje
    </md-button>
    <md-button class="md-raised" ng-click="showActionToast()">
      Se guardara el Tipo de Hospedaje
    </md-button>
    <div style="width:50px"></div>
  </div>

</form>
