<md-toolbar class="md-medium-tall" >
  <div class="md-toolbar-tools">
    <span flex></span>
    <!-- logo -->
    <div layout="row" flex="100">
      <md-button class="md-raized" ng-click="go('/')">
        <img id="logo" src="/images/Couchinn.png"></img>
      </md-button>
    </div>


    <md-button
      ng-repeat="button in buttons"
      class="md-raised"
      ng-click="go(button.location)"
    >
      {{ button.name }}
    </md-button>

<!--
    <md-button class="md-raised" ng-click="go('/register')">Registrate</md-button>
    <md-button class="md-raised" ng-click="go('/login')">Iniciar Sesión</md-button>
    <md-button class="md-raised" ng-click="go('/nuevoTipoHospedaje')">Nuevo Tipo de Hospedaje</md-button>
    <md-button class="md-raised" ng-click="logout()">Cerrar Sesión</md-button>
    <md-button class="md-raised" ng-click="go('/tipoHospedaje')">Tipo de Hospedaje</md-button>-->


  </div>
</md-toolbar>
