<div ng-cloak style="margin-bottom: 2rem;">
  <md-toolbar class="md-medium-tall" >
    <div layout="row">
      <img class="logo" src="/images/Couchinn.png" ng-click="goto('/')" />
      <label ng-if="user">¡Bienvenido {{ user.nombre }}!</label>
    </div>
  </md-toolbar>
  <md-nav-bar
  aria-label="barra de navegacion"
  >


      <md-nav-item
        ng-repeat="button in buttons"
        md-nav-click="goto(button.location)"

        name="button.name"
      >
        {{button.name}}
      </md-nav-item>




  </md-nav-bar>
</div>
