<!doctype html>
<html xmlns:ng="http://angularjs.org" ng-app="couchinn" ng-strict-di>

  <head>
    <meta charset="utf-8" />
    <title>CoachInn</title>
    <meta name="description" content="" >
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" >


    <!-- Angular Material CSS -->
    <link rel="stylesheet" type="text/css" href="components/angular-material/angular-material.min.css" >

    <!--couchInn sources-->
    <link rel="stylesheet" type="text/css" href="app/couchInn/src/stylesheets/couchInn.css" >

  </head>

  <body>

  <couchinn-header></couchinn-header>
    <div ng-view>

    </div>



 <md-content layout="column" flex>
   <div flex layout="column">
     <div ng-if="" style="background-color:SteelBlue;color:white;"></div>
   </div>
   <footer flex="none" style="background-color:orange;color:white;">
     <div>footer item</div>
   </footer>
 </md-content>

    <!--angular sources-->
    <script type="application/javascript" src="components/angular/angular.min.js"></script>
    <script type="application/javascript" src="components/angular-route/angular-route.min.js"></script>
    <script type="application/javascript" src="components/angular-animate/angular-animate.min.js"></script>
    <script type="application/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
    <script type="application/javascript" src="components/angular-resource/angular-resource.min.js"></script>
    <script type="application/javascript" src="components/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="application/javascript" src="components/angular-touch/angular-touch.min.js"></script>
    <script type="application/javascript" src="components/angular-resource/angular-resource.min.js"></script>
    <script type="application/javascript" src="components/angular-jwt/dist/angular-jwt.js"></script>
    <!--End angular sources-->


    <!-- Angular Material Dependencies -->
    <script type="application/javascript" src="components/angular-aria/angular-aria.min.js"></script>
    <script type="application/javascript" src="components/angular-material/angular-material.min.js"></script>


    <!--modules sources-->
      <!--main-->
      <script type="application/javascript" src="app/couchInn/src/couchInn-config.js"></script>
      <script type="application/javascript" src="app/couchInn/src/couchInn-controller.js"></script>
      <script type="application/javascript" src="app/couchInn/src/couchInn-directives.js"></script>
      <script type="application/javascript" src="app/couchInn/src/couchInn-services.js"></script>
      <!--header-->
      <script type="application/javascript" src="app/header/src/header-config.js"></script>
      <script type="application/javascript" src="app/header/src/header-controller.js"></script>
      <script type="application/javascript" src="app/header/src/header-directives.js"></script>
      <!--register-->
      <script type="application/javascript" src="app/register/src/register-config.js"></script>
      <script type="application/javascript" src="app/register/src/register-controller.js"></script>
      <!--login-->
      <script type="application/javascript" src="app/login/src/login-config.js"></script>
      <script type="application/javascript" src="app/login/src/login-controller.js"></script>
      <!--tipoHospedaje-->
      <script type="application/javascript" src="app/tipoHospedaje/src/tipoHospedaje-config.js"></script>
      <script type="application/javascript" src="app/tipoHospedaje/src/tipoHospedaje-controller.js"></script>
      <!--logged user-->
      <script type="application/javascript" src="app/loggedUser/src/loggedUser-config.js"></script>
      <script type="application/javascript" src="app/loggedUser/src/loggedUser-controller.js"></script>
    <!--modules sources-->

  </body>

</html>
