<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>CoachInn</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>

<body ng-app="coachInn">
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Add your site or application content here -->
  <div class="header">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div ng-view=""></div>
  </div>
  <div class="footer">
    <div class="container">
      <p><span class="glyphicon glyphicon-heart"></span> J.L.S </p>
    </div>
  </div>
</body>

</html>
